<main class="index">
  <header class="masthead d-flex">
    <div class="container my-auto text-center">
      <h1 class="mb-1 font-weight-bold">Contacts App</h1>
      <h3 class="mb-3 font-italic">Store Your Contacts Now</h3>
      <a href="/signin" class="btn btn-primary start-button">Get Started</a>
    </div>
  </header>
</main>