<div class="container p-3">
  <div class="row">
    {{#each contacts}}
      <div class="col-md-3 mb-3">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title text-capitalize">
              {{name}}
            </h3>
            <p class="m-2">{{number}}</p>
            <p>{{timeago created_at}}</p>
            <a href="" class="btn btn-danger">Delete Contact</a>
            <a href="" class="btn btn-secondary">Edit Contact</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>